@import '../../styles/colors.scss';
$headerSize: 4em;

#views {
  position: absolute;
  bottom: 1em;
  left: 0px;
  right: 0px;
  top: $headerSize;

  #leftView, #rightView {
    position: absolute;
    top: 0px;
    width: calc(33% - 1em);
    bottom: 0px;
    overflow: auto;
  }
  #leftView {
    left: 1em;
  }
  #rightView {
    right: 1em;
  }
}

#overlay {
  position: absolute;
  top: $headerSize;
  left: 0px;
  /* width and height have to be set manually, because it's an SVG element */
  pointer-events: none;

  .point {
    cursor: pointer;

    circle {
      fill: $darkUiColor;
      stroke: $darkUiColor;
    }
    text {
      text-anchor: middle;
      fill: $pageBackgroundColor;
    }
  }
  .point.stillCounting circle {
    fill: $lightUiColor;
    stroke: $lightUiColor;
  }
  .point:hover {
    circle {
      fill: $pageBackgroundColor;
    }
    text {
      fill: $darkUiColor;
    }
  }
  .point:hover.stillCounting {
    circle {
      fill: $pageBackgroundColor;
    }
    text {
      fill: $lightUiColor;
    }
  }

  .connection path {
    stroke: $darkUiColor;
    fill: none;
  }
}
#overlay > * {
  pointer-events: visible;
}

#header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 200; /* this is necessary to avoid having the table column headers overlap */
  height: $headerSize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .buttonContainer {
    position: relative;
    margin: 1em;

    img {
      position: relative;
      top: calc(50% - 0.75em);
      width: 1.5em;
      height: 1.5em;
      padding: 0em 0.25em;
      border: 1px solid transparent;
      filter: imgColorFilter($darkUiColor);
    }
    img.inactive {
      filter: imgColorFilter($lightUiColor);
    }

    img:hover {
      border: 1px solid #cccccc;
      cursor: pointer;
    }
  }

  .indicator {
    img {
      position: relative;
      top: calc(50% - 0.75em);
      width: 1.5em;
      height: 1.5em;
      padding: 0em 0.25em;
      border: 1px solid transparent;
      filter: imgColorFilter($darkUiColor);
    }
  }

  #presetSettings {
    position: relative;
    li {
      line-height: 1em;
      img {
        display: none;
      }
      span {
        position: relative;
        bottom: 0em;
      }
    }
    &.expanded {
      li {
        img {
          display: inline-block;
          width: 6em;
          height: 6em;
        }
        span {
          bottom: 2.5em;
        }
      }
    }
  }

  #thetaExpression {
    height: 1em;
    width: 30em;
    font-family: "Courier", monospace;
    padding: 0.5em 0.5em 0.25em 0.5em;
    margin: 1em;
    border: 1px solid $darkUiColor;
  }

  .title {
    margin: 0.75em 1em 1em 1em;
  }
}
