<div id="views">
  <div id="leftView"></div>
  <div id="rightView"></div>
</div>
<svg id="overlay"></svg>
<div id="header">
  <div id="leftButtonContainer" class="buttonContainer"></div>
  <h2 id="leftTitle" class="title"></h2>
  <ol class="selectMenu" id="presetSettings">
    <li id="Concatenation" class="selected">
      <img src="../../img/concatenate.svg"/>
      <span>No preset connections</span>
    </li>
    <li id="ThetaJoin">
      <img src="../../img/thetaJoin.svg"/>
      <span>Preset: Connect when...</span>
    </li>
    <li id="OrderedJoin">
      <img src="../../img/ordered.svg"/>
      <span>Preset: Connect in order</span>
    </li>
    <li id="CrossProduct">
      <img src="../../img/crossProduct.svg"/>
      <span>Preset: All possible connections</span>
    </li>
  </ol>
  <input type="text" id="thetaExpression" style="display: none"/>
  <h2 id="rightTitle" class="title"></h2>
  <div id="rightButtonContainer" class="buttonContainer"></div>
</div>
