@import './colors.scss';

$sansFont: 'Josefin Sans', sans-serif;
$sansWeight: 700;
$serifFont: 'Josefin Slab', serif;
$serifWeight: 400;
$monoFont: 'Courier', monospace;

body {
  font-family: $serifFont;
  font-weight: $serifWeight;
  color: $darkTextColor;
}
h1, h2 {
  font-size: 1.5em;
  line-height: 1em;
  font-family: $sansFont;
  font-weight: $sansWeight;
}
h1 {
  color: $darkTextColor;
}
h2 {
  color: $lightTextColor;
}
h3, h4 {
  font-family: $serifFont;
  font-weight: $serifWeight;
  font-size: 1em;
  line-height: 1em;
}
h3 {
  color: $darkTextColor;
}
h4 {
  color: $lightTextColor;
}
a {
  text-decoration: none;
  color: $linkColor;
  cursor: pointer;
}
a.button {
  padding: 0.5em 0.5em 0.25em 0.5em;
  border: 1px solid $darkUiColor;
  background-color: $darkUiColor;
  color: $pageBackgroundColor;
  font-family: $sansFont;
  font-weight: $sansWeight;
  white-space: nowrap;
  line-height: 2em;
}
a.button:hover {
  color: $darkUiColor;
  background-color: $pageBackgroundColor;
}
