html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  /* avoid browser level touch actions */
  xtouch-action: none;

  #joinInterface,
  #splitter,
  #resultsInterface {
    position: relative;
    overflow: auto;
  }
  #joinInterface {
    flex: 0 0 auto;
    /* only manually resize */
    width: 75%;
    min-width: 0%;
    max-width: calc(100% - 1em);
    z-index: 1;
  }

  #splitter {
    flex: 0 0 auto;
    width: 1em;
    background: url('/img/vsizegrip.png') center center no-repeat #cccccc;
    cursor: col-resize;
    z-index: 2;
  }

  #resultsInterface {
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    z-index: 1;
  }
}
