@import '../colors.scss';
@import '../fonts.scss';

.dataTableView {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  display: flex;
  flex-direction: column;

  #table {
    flex: 1 1 auto;
    font-family: $monoFont;
  }
  #message {
    flex: 0 0 auto;
    text-align: right;
    margin-top: 1em;
  }
  #message.error {
    color: $errorColor;
  }
}
