@import '../fonts.scss';

.dataLoaderView {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;

  #pageContent {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  a.button {
    margin: 0.5em 0em;
  }
  textarea {
    margin-top: 0.5em;
    font-family: $monoFont;
    flex: 1 1 auto;
  }
}
