@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

#graphicsContent {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIklEQVQoU2P8////fwY0wMjIyIghNhQUojsaxMfq7iGgEABK7if3fYro4QAAAABJRU5ErkJggg==) repeat;

  .notJoinable {
    opacity: 0.25;
  }

  #selectionOverlay {
    rect {
      fill: transparent;
      stroke: none;

      &:hover {
        cursor: pointer;
        stroke: $selectionDarkColor;
        stroke-width: 3px;
      }
    }
  }
}
#zoomControls {
  position: absolute;
  bottom: 1em;
  left: 1em;

  .button {
    padding: 0em 0.25em;
  }
  #zoomPercent {
    position: relative;
    bottom: -1px;
    height: 1em;
    width: 3em;
    font-family: $monoFont;
    border: 1px solid $darkUiColor;
  }
}
